html {
  scroll-behavior: smooth;
}
body {
  @apply lg:gap-4;
  @apply bg-gradient-to-r from-green to-blue-400 dark:from-dark-500 dark:to-dark-700 dark:text-white;
  margin: 0 auto !important;
}
.template {
  @apply px-5 m-auto py-[1.5rem] lg:mb-0 md:mb-16 sm:px-20 max-w-screen-2xl md:px-32 lg:px-36 xl:px-48 min-h-screen;

  .wrapper_child {
    @apply flex flex-col p-6 bg-gray-50 dark:bg-dark-500 shadow-custom-light dark:shadow-custom-dark rounded-2xl gap-6 transition-colors duration-500 h-[90vh] overflow-hidden;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .word {
    display: block;
  }

  .word span {
    @apply text-indigo-700 dark:text-violet-300 relative;
  }

  .word span::after {
    content: '';
    width: 8px;
    height: 100%;
    background: rgb(67 56 202 / var(--tw-text-opacity));
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    animation: blink 0.5s ease infinite alternate-reverse;
  }

  @keyframes blink {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }

  .word.empty {
    visibility: hidden;
  }

  .word.empty span::after {
    visibility: visible;
    right: 0;
  }
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
  border-radius: 5px;
}

::-webkit-scrollbar {
  display: none;
}
